# don't look for other configuration files
root = true

[*]
# Unix-style new lines
end_of_line = lf
# Make Unix happy
insert_final_newline = true
# Use UTF-8 as default charset
charset = utf-8
# Tabs are evil
indent_style = space
indent_size = 4
# Trailing whitespace is evil
trim_trailing_whitespace = true
