#leftContainer {
    float: left;
    margin-right: 0.5em;
    margin-bottom: 0.5em;
}

#rightContainer {
    float: right;
    width: 28%;
    margin-left: 0.5em;
    margin-top: 0.5em;
}

.resetFloat {
    clear: both;
}

#toolbar {
    margin: 1em 0em;
    display: inline-block;
}

/* IE7 support */
*+html #toolbar {
    display: inline;
}

#leftContainer, #toolbar {
    width: 70%;
}

.action {
    color: rgb(22, 151, 200);
    background-color: rgb(237, 237, 237);
}

.success, .failure {
    padding: 1em;
    font-size: 2em;
}

.success {
    color: green;
}

.failure {
    color: red;
}

.info {
    padding: 0.2em;
    margin-top: 0.4em;
}

.infoLabel {
    float: left;
    margin-right: 0.3em;
    margin-left: 0.3em;
}

.info p {
    margin: 0px;
}

optgroup[label] {
    /* disable italic styling for the optgroup label */
    font-style: normal;
}

optgroup option {
    padding-left: 4em;
}
