<?xml version="1.0" encoding="UTF-8"?>
<menu>
    <menuItem>
        <name>Models</name>
        <subMenu>
            <menuItem>
                <name>Overview</name>
                <controller>model</controller>
                <action>index</action>
                <viewCallback>loadModelListCallback</viewCallback>
            </menuItem>
            <menuItem>
                <name>Upload Model</name>
                <controller>model</controller>
                <action>upload</action>
                <viewCallback>loadUploadModelCallback</viewCallback>
                <visibleTo>
                    <role>ROLE_USER</role>
                </visibleTo>
            </menuItem>
        </subMenu>
    </menuItem>
    <menuItem>
        <name>Your Account</name>
        <subMenu>
            <menuItem>
                <name>Settings</name>
                <controller>user</controller>
                <action>index</action>
                <viewCallback>loadShowUserInfoCallback</viewCallback>
            </menuItem>
            <menuItem>
                <name>Logout</name>
                <javaScript>logout()</javaScript>
            </menuItem>
        </subMenu>
        <visibleTo>
            <role>ROLE_USER</role>
        </visibleTo>
    </menuItem>
    <menuItem>
        <name>Administration</name>
        <subMenu>
            <menuItem>
                <name>User Administration</name>
                <controller>userAdministration</controller>
                <action>index</action>
                <viewCallback>loadUserListCallback</viewCallback>
            </menuItem>
            <menuItem>
                <name>Registration</name>
                <controller>userAdministration</controller>
                <action>register</action>
                <viewCallback>loadAdminRegisterCallback</viewCallback>
            </menuItem>
            <menuItem>
                <name>Themes</name>
                <controller>themeing</controller>
                <action>themes</action>
                <viewCallback>loadThemeSelectionCallback</viewCallback>
            </menuItem>
            <menuItem>
                <name>MIRIAM</name>
                <controller>miriam</controller>
                <action>index</action>
                <viewCallback>loadMiriamCallback</viewCallback>
            </menuItem>
        </subMenu>
        <visibleTo>
            <role>ROLE_ADMIN</role>
        </visibleTo>
    </menuItem>
    <menuItem>
        <name>Login</name>
        <subMenu>
            <menuItem>
                <name>Login</name>
                <javaScript>showLoginDialog()</javaScript>
            </menuItem>
            <menuItem>
                <name>Password Forgotten</name>
                <controller>user</controller>
                <action>passwordForgotten</action>
                <viewCallback>loadPasswordForgottenCallback</viewCallback>
            </menuItem>
            <menuItem>
                <name>Register</name>
                <controller>register</controller>
                <action>index</action>
                <viewCallback>loadRegistrationCallback</viewCallback>
            </menuItem>
        </subMenu>
        <visibleTo>
            <role>ROLE_ANONYMOUS</role>
        </visibleTo>
    </menuItem>
</menu>