#autocomplete {
    border: 1px solid;
    overflow: hidden;
    position: absolute;
    z-index: 100;
}
#autocomplete ul {
    list-style: none;
    list-style-image: none;
    margin: 0;
    padding: 0;
}
#autocomplete li {
    background: #fff;
    color: #000;
    cursor: default;
    white-space: pre;
    zoom: 1;
}
html.js input.form-autocomplete {
    background-image: url(//ddmore.eu/misc/throbber.gif);
    background-position: 100% 2px;
    background-repeat: no-repeat;
}
html.js input.throbbing {
    background-position: 100% -18px;
}
html.js fieldset.collapsed {
    border-bottom-width: 0;
    border-left-width: 0;
    border-right-width: 0;
    height: 1em;
}
html.js fieldset.collapsed .fieldset-wrapper {
    display: none;
}
fieldset.collapsible {
    position: relative;
}
fieldset.collapsible .fieldset-legend {
    display: block;
}
.form-textarea-wrapper textarea {
    display: block;
    margin: 0;
    width: 100%;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.resizable-textarea .grippie {
    background: #eee url(//ddmore.eu/misc/grippie.png) no-repeat center 2px;
    border: 1px solid #ddd;
    border-top-width: 0;
    cursor: s-resize;
    height: 9px;
    overflow: hidden;
}
body.drag {
    cursor: move;
}
.draggable a.tabledrag-handle {
    cursor: move;
    float: left;
    height: 1.7em;
    margin-left: -1em;
    overflow: hidden;
    text-decoration: none;
}
a.tabledrag-handle:hover {
    text-decoration: none;
}
a.tabledrag-handle .handle {
    background: url(//ddmore.eu/misc/draggable.png) no-repeat 6px 9px;
    height: 13px;
    margin: -0.4em 0.5em;
    padding: 0.42em 0.5em;
    width:  1.3%;
}
a.tabledrag-handle-hover .handle {
    background-position: 6px -11px;
}
div.indentation {
    float: left;
    height: 1.7em;
    margin: -0.4em 0.2em -0.4em -0.4em;
    padding: 0.42em 0 0.42em 0.6em;
    width:  2.0%;
}
div.tree-child {
    background: url(//ddmore.eu/misc/tree.png) no-repeat 11px center;
}
div.tree-child-last {
    background: url(//ddmore.eu/misc/tree-bottom.png) no-repeat 11px center;
}
div.tree-child-horizontal {
    background: url(//ddmore.eu/misc/tree.png) no-repeat -11px center;
}
.tabledrag-toggle-weight-wrapper {
    text-align: right;
}
table.sticky-header {
    background-color: #fff;
    margin-top: 0;
}
.progress .bar {
    background-color: #fff;
    border: 1px solid;
}
.progress .filled {
    background-color: #000;
    height: 1.5em;
    width:  0.5%;
}
.progress .percentage {
    float: right;
}
.ajax-progress {
    display: inline-block;
}
.ajax-progress .throbber {
    background: transparent url(//ddmore.eu/misc/throbber.gif) no-repeat 0px -18px;
    float: left;
    height: 15px;
    margin: 2px;
    width:  1.5%;
}
.ajax-progress .message {
    padding-left:  2.0%;
}
tr .ajax-progress .throbber {
    margin: 0 2px;
}
.ajax-progress-bar {
    width: 16em;
}
.container-inline div, .container-inline label {
    display: inline;
}
.container-inline .fieldset-wrapper {
    display: block;
}
.nowrap {
    white-space: nowrap;
}
html.js .js-hide {
    display: none;
}
.element-hidden {
    display: none;
}
.element-invisible {
    position: absolute !important;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px, 1px, 1px, 1px);
    overflow: hidden;
    height: 1px;
}
.element-invisible.element-focusable:active, .element-invisible.element-focusable:focus {
    position: static !important;
    clip: auto;
    overflow: visible;
    height: auto;
}
.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
* html .clearfix {
    height: 1%;
}
*:first-child + html .clearfix {
    min-height: 1%;
}

ul.menu {
    border: none;
    list-style: none;
    text-align: left;
}
ul.menu li {
    margin: 0 0 0 0.5em;
}
ul li.expanded {
    list-style-image: url(//ddmore.eu/misc/menu-expanded.png);
    list-style-type: circle;
}
ul li.collapsed {
    list-style-image: url(//ddmore.eu/misc/menu-collapsed.png);
    list-style-type: disc;
}
ul li.leaf {
    list-style-image: url(//ddmore.eu/misc/menu-leaf.png);
    list-style-type: square;
}
li.expanded, li.collapsed, li.leaf {
    padding: 0.2em 0.5em 0 0;
    margin: 0;
}
li a.active {
    color: #000;
}
td.menu-disabled {
    background: #ccc;
}
ul.inline, ul.links.inline {
    display: inline;
    padding-left: 0;
}
ul.inline li {
    display: inline;
    list-style-type: none;
    padding: 0 0.5em;
}
.breadcrumb {
    padding-bottom: 0.5em;
}
ul.primary {
    border-bottom: 1px solid #bbb;
    border-collapse: collapse;
    height: auto;
    line-height: normal;
    list-style: none;
    margin:  0.5%;
    padding: 0 0 0 1em;
    white-space: nowrap;
}
ul.primary li {
    display: inline;
}
ul.primary li a {
    background-color: #ddd;
    border-color: #bbb;
    border-style: solid solid none solid;
    border-width: 1px;
    height: auto;
    margin-right: 0.5em;
    padding: 0 1em;
    text-decoration: none;
}
ul.primary li.active a {
    background-color: #fff;
    border: 1px solid #bbb;
    border-bottom: 1px solid #fff;
}
ul.primary li a:hover {
    background-color: #eee;
    border-color: #ccc;
    border-bottom-color: #eee;
}
ul.secondary {
    border-bottom: 1px solid #bbb;
    padding: 0.5em 1em;
    margin:  0.5%;
}
ul.secondary li {
    border-right: 1px solid #ccc;
    display: inline;
    padding: 0 1em;
}
ul.secondary a {
    padding: 0;
    text-decoration: none;
}
ul.secondary a.active {
    border-bottom: 4px solid #999;
}

div.messages {
    background-position: 8px 8px;
    background-repeat: no-repeat;
    border: 1px solid;
    margin: 6px 0;
    padding: 10px 10px 10px 50px;
}
div.status {
    background-image: url(//ddmore.eu/misc/message-24-ok.png);
    border-color: #be7;
}
div.status, .ok {
    color: #234600;
}
div.status, table tr.ok {
    background-color: #f8fff0;
}
div.warning {
    background-image: url(//ddmore.eu/misc/message-24-warning.png);
    border-color: #ed5;
}
div.warning, .warning {
    color: #840;
}
div.warning, table tr.warning {
    background-color: #fffce5;
}
div.error {
    background-image: url(//ddmore.eu/misc/message-24-error.png);
    border-color: #ed541d;
}
div.error, .error {
    color: #8c2e0b;
}
div.error, table tr.error {
    background-color: #fef5f1;
}
div.error p.error {
    color: #333;
}
div.messages ul {
    margin: 0 0 0 1em;
    padding: 0;
}
div.messages ul li {
    list-style-image: none;
}

fieldset {
    margin-bottom: 1em;
    padding: 0.5em;
}
form {
    margin: 0;
    padding: 0;
}
hr {
    border: 1px solid gray;
    height: 1px;
}
img {
    border: 0;
}
table {
    border-collapse: collapse;
}
th {
    border-bottom: 3px solid #ccc;
    padding-right: 1em;
    text-align: left;
}
tbody {
    border-top: 1px solid #ccc;
}
tr.even, tr.odd {
    background-color: #eee;
    border-bottom: 1px solid #ccc;
    padding: 0.1em 0.6em;
}
th.active img {
    display: inline;
}
td.active {
    background-color: #ddd;
}
.item-list .title {
    font-weight: bold;
}
.item-list ul {
    margin: 0 0 0.75em 0;
    padding: 0;
}
.item-list ul li {
    margin: 0 0 0.25em 1.5em;
    padding: 0;
}
.form-item, .form-actions {
    margin-top: 1em;
    margin-bottom: 1em;
}
tr.odd .form-item, tr.even .form-item {
    margin-top: 0;
    margin-bottom: 0;
    white-space: nowrap;
}
.form-item .description {
    font-size: 0.85em;
}
label {
    display: block;
    font-weight: bold;
}
label.option {
    display: inline;
    font-weight: normal;
}
.form-checkboxes .form-item, .form-radios .form-item {
    margin-top: 0.4em;
    margin-bottom: 0.4em;
}
.form-type-radio .description, .form-type-checkbox .description {
    margin-left: 2.4em;
}
input.form-checkbox, input.form-radio {
    vertical-align: middle;
}
.marker, .form-required {
    color: #f00;
}
.form-item input.error, .form-item textarea.error, .form-item select.error {
    border: 2px solid red;
}
.container-inline .form-actions, .container-inline.form-actions {
    margin-top: 0;
    margin-bottom: 0;
}
.more-link {
    text-align: right;
}
.more-help-link {
    text-align: right;
}
.more-help-link a {
    background: url(//ddmore.eu/misc/help.png) 0 50% no-repeat;
    padding: 1px 0 1px 20px;
}
.item-list .pager {
    clear: both;
    text-align: center;
}
.item-list .pager li {
    background-image: none;
    display: inline;
    list-style-type: none;
    padding: 0.5em;
}
.pager-current {
    font-weight: bold;
}
#autocomplete li.selected {
    background: #0072b9;
    color: #fff;
}
html.js fieldset.collapsible .fieldset-legend {
    background: url(//ddmore.eu/misc/menu-expanded.png) 5px 65% no-repeat;
    padding-left:  1.5%;
}
html.js fieldset.collapsed .fieldset-legend {
    background-image: url(//ddmore.eu/misc/menu-collapsed.png);
    background-position: 5px 50%;
}
.fieldset-legend span.summary {
    color: #999;
    font-size: 0.9em;
    margin-left: 0.5em;
}
tr.drag {
    background-color: #fffff0;
}
tr.drag-previous {
    background-color: #ffd;
}
.tabledrag-toggle-weight {
    font-size: 0.9em;
}
body div.tabledrag-changed-warning {
    margin-bottom: 0.5em;
}
tr.selected td {
    background: #ffc;
}
td.checkbox, th.checkbox {
    text-align: center;
}
.progress {
    font-weight: bold;
}
.progress .bar {
    background: #ccc;
    border-color: #666;
    margin: 0 0.2em;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}
.progress .filled {
    background: #0072b9 url(//ddmore.eu/misc/progress.gif);
}

#comments {
    margin-top: 15px;
}
.indented {
    margin-left:  2.5%;
}
.comment-unpublished {
    background-color: #fff4f4;
}
.comment-preview {
    background-color: #ffffea;
}

.container-inline-date {
    clear: both;
}
.container-inline-date .form-item {
    float: none;
    margin: 0;
    padding: 0;
}
.container-inline-date > .form-item {
    display: inline-block;
    margin-right: 0.5em;
    margin-bottom: 10px;
    vertical-align: top;
}
.container-inline-date .form-item .form-item {
    float: left;
}
.container-inline-date .form-item, .container-inline-date .form-item input {
    width: auto;
}
.container-inline-date .description {
    clear: both;
}
.container-inline-date .form-item input, .container-inline-date .form-item select, .container-inline-date .form-item option {
    margin-right:  0.5%;
}
.container-inline-date .date-spacer {
    margin-left: -5px;
}
.views-right-60 .container-inline-date div {
    margin: 0;
    padding: 0;
}
.container-inline-date .date-timezone .form-item {
    clear: both;
    float: none;
    width: auto;
}
.container-inline-date .date-padding {
    padding:  1.0%;
    float: left;
}
.views-exposed-form .container-inline-date .date-padding {
    padding: 0;
}
#calendar_div, #calendar_div td, #calendar_div th {
    margin: 0;
    padding: 0;
}
#calendar_div, .calendar_control, .calendar_links, .calendar_header, .calendar {
    border-collapse: separate;
    margin: 0;
    width:  18.5%;
}
.calendar td {
    padding: 0;
}
span.date-display-single {
}
span.date-display-start {
}
span.date-display-end {
}
.date-prefix-inline {
    display: inline-block;
}
.date-clear {
    clear: both;
    display: block;
    float: none;
}
.date-no-float {
    clear: both;
    float: none;
    width: 98%;
}
.date-float {
    clear: none;
    float: left;
    width: auto;
}
.date-float .form-type-checkbox {
    padding-right: 1em;
}
.form-type-date-select .form-type-select[class$=hour] {
    margin-left: .75em;
}
.date-container .date-format-delete {
    float: left;
    margin-top: 1.8em;
    margin-left: 1.5em;
}
.date-container .date-format-name {
    float: left;
}
.date-container .date-format-type {
    float: left;
    padding-left:  1.0%;
}
.date-container .select-container {
    clear: left;
    float: left;
}
div.date-calendar-day {
    background: #F3F3F3;
    border-top: 1px solid #EEE;
    border-left: 1px solid #EEE;
    border-right: 1px solid #BBB;
    border-bottom: 1px solid #BBB;
    color: #999;
    float: left;
    line-height: 1;
    margin: 6px 10px 0 0;
    text-align: center;
    width:  4.0%;
}
div.date-calendar-day span {
    display: block;
    text-align: center;
}
div.date-calendar-day span.month {
    background-color: #B5BEBE;
    color: white;
    font-size: .9em;
    padding: 2px;
    text-transform: uppercase;
}
div.date-calendar-day span.day {
    font-size: 2em;
    font-weight: bold;
}
div.date-calendar-day span.year {
    font-size: .9em;
    padding: 2px;
}
.form-item.form-item-instance-widget-settings-input-format-custom, .form-item.form-item-field-settings-enddate-required {
    margin-left: 1.3em;
}
#edit-field-settings-granularity .form-type-checkbox {
    margin-right: .6em;
}
.date-year-range-select {
    margin-right: 1em;
}

.field .field-label {
    font-weight: bold;
}
.field-label-inline .field-label, .field-label-inline .field-items {
    float: left;
}
form .field-multiple-table {
    margin: 0;
}
form .field-multiple-table th.field-label {
    padding-left: 0;
}
form .field-multiple-table td.field-multiple-drag {
    width:  3.0%;
    padding-right: 0;
}
form .field-multiple-table td.field-multiple-drag a.tabledrag-handle {
    padding-right: .5em;
}
form .field-add-more-submit {
    margin: .5em 0 0;
}

.node-unpublished {
    background-color: #fff4f4;
}
.preview .node {
    background-color: #ffffea;
}
td.revision-current {
    background: #ffc;
}

.search-form {
    margin-bottom: 1em;
}
.search-form input {
    margin-top: 0;
    margin-bottom: 0;
}
.search-results {
    list-style: none;
}
.search-results p {
    margin-top: 0;
}
.search-results .title {
    font-size: 1.2em;
}
.search-results li {
    margin-bottom: 1em;
}
.search-results .search-snippet-info {
    padding-left: 1em;
}
.search-results .search-info {
    font-size: 0.85em;
}
.search-advanced .criterion {
    float: left;
    margin-right: 2em;
}
.search-advanced .action {
    float: left;
    clear: left;
}

#permissions td.module {
    font-weight: bold;
}
#permissions td.permission {
    padding-left: 1.5em;
}
#permissions tr.odd .form-item, #permissions tr.even .form-item {
    white-space: normal;
}
#user-admin-settings fieldset .fieldset-description {
    font-size: 0.85em;
    padding-bottom: .5em;
}
#user-admin-roles td.edit-name {
    clear: both;
}
#user-admin-roles .form-item-name {
    float: left;
    margin-right: 1em;
}
.password-strength {
    width: 17em;
    float: right;
    margin-top: 1.4em;
}
.password-strength-title {
    display: inline;
}
.password-strength-text {
    float: right;
    font-weight: bold;
}
.password-indicator {
    background-color: #C4C4C4;
    height: 0.3em;
    width: 100%;
}
.password-indicator div {
    height: 100%;
    width: 0%;
    background-color: #47C965;
}
input.password-confirm, input.password-field {
    width: 16em;
    margin-bottom: 0.4em;
}
div.password-confirm {
    float: right;
    margin-top: 1.5em;
    visibility: hidden;
    width: 17em;
}
div.form-item div.password-suggestions {
    padding: 0.2em 0.5em;
    margin: 0.7em 0;
    width: 38.5em;
    border: 1px solid #B4B4B4;
}
div.password-suggestions ul {
    margin-bottom: 0;
}
.confirm-parent, .password-parent {
    clear: left;
    margin: 0;
    width: 36.3em;
}
.profile {
    clear: both;
    margin: 1em 0;
}
.profile .user-picture {
    float: right;
    margin: 0 1em 1em 0;
}
.profile h3 {
    border-bottom: 1px solid #ccc;
}
.profile dl {
    margin: 0 0 1.5em 0;
}
.profile dt {
    margin: 0 0 0.2em 0;
    font-weight: bold;
}
.profile dd {
    margin: 0 0 1em 0;
}

.views-exposed-form .views-exposed-widget {
    float: left;
    padding: .5em 1em 0 0;
}
.views-exposed-form .views-exposed-widget .form-submit {
    margin-top: 1.6em;
}
.views-exposed-form .form-item, .views-exposed-form .form-submit {
    margin-top: 0;
    margin-bottom: 0;
}
.views-exposed-form label {
    font-weight: bold;
}
.views-exposed-widgets {
    margin-bottom: .5em;
}
.views-align-left {
    text-align: left;
}
.views-align-right {
    text-align: right;
}
.views-align-center {
    text-align: center;
}
.views-view-grid tbody {
    border-top: none;
}
.view .progress-disabled {
    float: none;
}

.ctools-locked {
    color: red;
    border: 1px solid red;
    padding: 1em;
}
.ctools-owns-lock {
    background: #FFFFDD none repeat scroll 0 0;
    border: 1px solid #F0C020;
    padding: 1em;
}
a.ctools-ajaxing, input.ctools-ajaxing, button.ctools-ajaxing, select.ctools-ajaxing {
    padding-right: 18px !important;
    background: url(//ddmore.eu/sites/all/modules/contrib/ctools/images/status-active.gif) right center no-repeat;
}
div.ctools-ajaxing {
    float: left;
    width:  1.8%;
    background: url(//ddmore.eu/sites/all/modules/contrib/ctools/images/status-active.gif) center center no-repeat;
}

body {
    font-size: 100%;
}
#skip-to-nav, #page {
    font-size: 0.75em;
    line-height: 1.5em;
    font-size: 0.875em;
    line-height: 1.5em;
}
body, caption, th, td, input, textarea, select, option, legend, fieldset {
}
pre, code, kbd, samp, tt, var {
    font-family: "Courier New", "DejaVu Sans Mono", monospace;
}
h1, h2, h3, h4, h5, h6, p, blockquote, pre, ul, ol, dl, hr, table, fieldset {
    margin: 1.5em 0;
}
h1 {
    font-size: 2em;
    line-height: 1.5em;
    margin: 0.75em 0;
}
h2 {
    font-size: 1.5em;
    margin: 1em 0;
}
h3 {
    font-size: 1.3em;
    margin: 1.154em 0;
}
h4, h5, h6 {
    font-size: 1.1em;
    margin: 1.364em 0;
}
p {
}
blockquote {
    margin-left: 2em;
    margin-right: 2em;
}
pre {
    font-size: 1.1em;
    margin: 1.364em 0;
}
hr {
    height: 1px;
    border: 1px solid #666;
}
address {
}
ul, ol {
    margin-left: 0;
    padding-left: 2em;
}
.item-list ul {
    margin: 1.5em 0;
    padding: 0 0 0 2em;
}
ul ul, ul ol, ol ol, ol ul, .item-list ul ul, .item-list ul ol, .item-list ol ol, .item-list ol ul {
    margin: 0;
}
li {
    margin: 0;
    padding: 0;
}
.item-list ul li, ul.menu li, li.expanded, li.collapsed, li.leaf {
    margin: 0;
    padding: 0;
}
ul {
    list-style-type: disc;
}
ul ul {
    list-style-type: circle;
}
ul ul ul {
    list-style-type: square;
}
ul ul ul ul {
    list-style-type: circle;
}
ol {
    list-style-type: decimal;
}
ol ol {
    list-style-type: lower-alpha;
}
ol ol ol {
    list-style-type: decimal;
}
dl {
}
dt {
    margin: 0;
    padding: 0;
}
dd {
    margin: 0 0 0 2em;
    padding: 0;
}
table {
    border-collapse: collapse;
}
th {
    text-align: left;
    padding: 0;
    border-bottom: none;
}
tbody {
    border-top: none;
}
thead {
}
tfoot {
}
caption {
}
colgroup {
}
col {
}
tr {
}
td {
}
form {
    margin: 0;
    padding: 0;
}
fieldset {
    padding: 0.5em;
}
legend {
}
label {
}
input {
}
select {
}
optgroup {
}
option {
}
textarea {
}
button {
}
a:link {
}
a:visited {
}
a:hover, a:focus {
}
a:active {
}
img {
    border: 0;
}
abbr, acronym {
    border-bottom: 1px dotted #666;
    cursor: help;
    white-space: nowrap;
}
q {
}
cite {
}
strong, b {
}
em, i {
}
code, kbd, samp, tt, var {
}
del {
}
ins {
}
big {
}
small {
}
sub {
}
sup {
}

.with-wireframes #header .section, .with-wireframes #content .section, .with-wireframes #navigation .section, .with-wireframes .region-sidebar-first .section, .with-wireframes .region-sidebar-second .section, .with-wireframes .region-footer, .with-wireframes .region-bottom {
    outline: 1px solid #ccc;
}

body {
}
#page-wrapper, .region-bottom {
    margin-left: auto;
    margin-right: auto;
    width:  96.0%;
}
#main-wrapper {
    position: relative;
}
#content, .no-sidebars #content {
    float: left;
    width:  96.0%;
    margin-left: 0;
    margin-right: -96%;
    padding: 0;
}
.sidebar-first #content {
    width:  76.0%;
    margin-left:  20.0%;
    margin-right: -96%;
}
.sidebar-second #content {
    width:  72.0%;
    margin-left: 0;
    margin-right: -72%;
}
.two-sidebars #content {
    width:  56.0%;
    margin-left:  20.0%;
    margin-right: -76%;
}
#content .section {
    margin: 0;
    padding: 0;
}
#navigation {
    float: left;
    width: 100%;
    margin-left: 0;
    margin-right: -100%;
    padding: 0;
    height: 3em;
}
.with-navigation #content, .with-navigation .region-sidebar-first, .with-navigation .region-sidebar-second {
    margin-top: 3em;
}
#navigation .section {
}
.region-sidebar-first {
    float: left;
    width:  20.0%;
    margin-left: 0;
    margin-right: -20%;
    padding: 0;
}
.region-sidebar-first .section {
    margin: 0 20px 0 0;
    padding: 0;
}
.region-sidebar-second {
    float: left;
    width:  22.0%;
    margin-left:  75.0%;
    margin-right: -96%;
    padding: 0;
}
.region-sidebar-second .section {
    margin: 0;
    padding: 0;
}
.region-footer {
}
.region-bottom {
}
#header, #content, #navigation, .region-sidebar-first, .region-sidebar-second, .region-footer, .region-bottom {
    overflow: visible;
    word-wrap: break-word;
}

body {
}
#page-wrapper {
}
#page {
}
#header {
}
#header .section {
}
#main-wrapper {
}
#main {
}
.region-footer {
}

div.tabs {
    margin: 0 0 5px 0;
}
ul.primary {
    margin: 0;
    padding: 0 0 0 10px;
    border-width: 0;
    list-style: none;
    white-space: nowrap;
    line-height: normal;
    background: url(//ddmore.eu/sites/ddmore/themes/ddmore/images/tab-bar.png) repeat-x left bottom;
}
ul.primary li {
    float: left;
    margin: 0;
    padding: 0;
}
ul.primary li a {
    display: block;
    height: 24px;
    margin: 0;
    padding: 0 0 0 5px;
    border-width: 0;
    font-weight: bold;
    text-decoration: none;
    color: #777;
    background-color: transparent;
    background: url(//ddmore.eu/sites/ddmore/themes/ddmore/images/tab-left.png) no-repeat left -38px;
}
ul.primary li a .tab {
    display: block;
    height: 20px;
    margin: 0;
    padding: 4px 13px 0 6px;
    border-width: 0;
    line-height: 20px;
    background: url(//ddmore.eu/sites/ddmore/themes/ddmore/images/tab-right.png) no-repeat right -38px;
}
ul.primary li a:hover, ul.primary li a:focus {
    border-width: 0;
    background-color: transparent;
    background: url(//ddmore.eu/sites/ddmore/themes/ddmore/images/tab-left.png) no-repeat left -76px;
}
ul.primary li a:hover .tab, ul.primary li a:focus .tab {
    background: url(//ddmore.eu/sites/ddmore/themes/ddmore/images/tab-right.png) no-repeat right -76px;
}
ul.primary li.active a, ul.primary li.active a:hover, ul.primary li.active a:focus {
    border-width: 0;
    color: #000;
    background-color: transparent;
    background: url(//ddmore.eu/sites/ddmore/themes/ddmore/images/tab-left.png) no-repeat left 0;
}
ul.primary li.active a .tab, ul.primary li.active a:hover .tab, ul.primary li.active a:focus .tab {
    background: url(//ddmore.eu/sites/ddmore/themes/ddmore/images/tab-right.png) no-repeat right 0;
}
ul.secondary {
    margin: 0;
    padding: 0 0 0 5px;
    border-bottom: 1px solid #c0c0c0;
    list-style: none;
    white-space: nowrap;
    background: url(//ddmore.eu/sites/ddmore/themes/ddmore/images/tab-secondary-bg.png) repeat-x left bottom;
}
ul.secondary li {
    float: left;
    margin: 0 5px 0 0;
    padding: 5px 0;
    border-right: none;
}
ul.secondary a {
    display: block;
    height: 24px;
    margin: 0;
    padding: 0;
    border: 1px solid #c0c0c0;
    text-decoration: none;
    color: #777;
    background: url(//ddmore.eu/sites/ddmore/themes/ddmore/images/tab-secondary.png) repeat-x left -56px;
}
ul.secondary a .tab {
    display: block;
    height: 18px;
    margin: 0;
    padding: 3px 8px;
    line-height: 18px;
}
ul.secondary a:hover, ul.secondary a:focus {
    background: url(//ddmore.eu/sites/ddmore/themes/ddmore/images/tab-secondary.png) repeat-x left bottom;
}
ul.secondary a.active, ul.secondary a.active:hover, ul.secondary a.active:focus {
    border: 1px solid #c0c0c0;
    color: #000;
    background: url(//ddmore.eu/sites/ddmore/themes/ddmore/images/tab-secondary.png) repeat-x left top;
}

body {
    margin: 0;
    padding: 0;
}
#page-wrapper {
}
#page {
}
#skip-link a, #skip-link a:visited {
    display: block;
    width: 100%;
    padding: 2px 0 3px 0;
    text-align: center;
    background-color: #666;
    color: #fff;
}
#header {
}
#header .section {
}
#logo {
    float: left;
    margin: 0;
    padding: 0;
}
#logo img {
    vertical-align: bottom;
}
#name-and-slogan {
    float: left;
}
h1#site-name, div#site-name {
    margin: 0;
    font-size: 2em;
    line-height: 1.5em;
}
#site-name a:link, #site-name a:visited {
    color: #000;
    text-decoration: none;
}
#site-name a:hover, #site-name a:focus {
    text-decoration: underline;
}
#site-slogan {
}
.region-header {
    clear: both;
}
#main-wrapper {
}
#main {
}
#content {
}
#content .section {
}
.region-highlighted {
}
.breadcrumb {
    padding-bottom: 0;
}
h1.title, h2.node-title, h2.block-title, h2.title, h2.comment-form, h3.title {
    margin: 0;
}
tr.even {
}
tr.odd {
}
div.messages {
    margin: 1.5em 0;
}
div.messages ul {
    margin-top: 0;
    margin-bottom: 0;
}
div.status {
}
div.warning, tr.warning {
}
div.error, tr.error {
}
.error {
}
.warning {
}
div.tabs {
}
.region-help {
}
.more-help-link {
}
.region-content {
}
ul.links {
}
ul.links.inline {
    display: block;
}
ul.links li {
    padding: 0 1em 0 0;
}
.item-list .pager {
    padding: 0;
}
.item-list .pager li {
    padding: 0 0.5em;
}
.feed-icon {
}
.more-link {
}
.region-sidebar-first {
}
.region-sidebar-first .section {
}
.region-sidebar-second {
}
.region-sidebar-second .section {
}
.region-footer {
}
.region-bottom {
}

.block {
    margin-bottom: 1.5em;
}
.block.first {
}
.block.last {
}
.block.odd {
}
.block.even {
}
h2.block-title {
}
.block .content {
}
#block-aggregator-category-1 {
}
#block-aggregator-feed-1 {
}
#block-block-1 {
}
#block-blog-recent {
}
#block-book-navigation {
}
#block-comment-recent {
}
#block-forum-active {
}
#block-forum-new {
}
#block-locale-language {
}
#block-menu-menu-NAME {
}
#block-node-recent {
}
#block-node-syndicate {
}
#block-poll-recent {
}
#block-profile-author-information {
}
#block-search-form {
}
#block-shortcut-shortcuts {
}
#block-statistics-popular {
}
#block-system-main-menu {
}
#block-system-management {
}
#block-system-navigation {
}
#block-system-user-menu {
}
#block-system-help {
}
#block-system-main {
}
#block-system-powered-by {
}
#block-user-login {
}
#block-user-new {
}
#block-user-online {
}

li a.active {
    color: #000;
}
#navigation {
}
#navigation ul.links, #navigation .content ul {
    margin: 0;
    padding: 0;
    text-align: left;
}
#navigation ul.links li, #navigation .content li {
    float: left;
    padding: 0 10px 0 0;
}
.region-navigation {
}
#main-menu {
}
#secondary-menu {
    float: right;
}
.block-menu {
}
.block-menu-block {
}


.node {
}
.preview .node {
}
.node-promoted {
}
.node-sticky {
}
.node-unpublished {
}
.node-unpublished div.unpublished, .comment-unpublished div.unpublished {
    height: 0;
    overflow: visible;
    color: #d8d8d8;
    font-size: 75px;
    line-height: 1;
    font-family: Impact, "Arial Narrow", Helvetica, sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    word-wrap: break-word;
}
.node-by-viewer {
}
.node-teaser {
}
.node-page {
}
.node-article {
}
h2.node-title {
}
.node .user-picture {
}
.node .submitted {
}
.node .content {
}
.node ul.links {
}

#comments {
    margin: 1.5em 0;
}
#comments h2.title {
}
#comments h2.comment-form {
}
.comment {
}
.comment-preview {
    background-color: #ffffea;
}
.comment.new {
}
.comment.first {
}
.comment.last {
}
.comment.odd {
}
.comment.even {
}
.comment-unpublished {
}
.comment-unpublished div.unpublished {
}
.comment-by-anonymous {
}
.comment-by-node-author {
}
.comment-by-viewer {
}
h3.comment-title {
}
.new {
    color: #c00;
}
.comment .user-picture {
}
.comment .submitted {
}
.comment .content {
}
.comment .user-signature {
}
.comment ul.links {
}
.indented {
}

.form-item {
    margin: 1.5em 0;
}
.form-item input.error, .form-item textarea.error, .form-item select.error {
    border: 1px solid #c00;
}
.form-item label {
    display: block;
    font-weight: bold;
}
.form-item label.option {
    display: inline;
    font-weight: normal;
}
.form-required {
    color: #c00;
}
.form-item .description {
    font-size: 0.85em;
}
.form-checkboxes .form-item, .form-radios .form-item {
    margin: 0;
}
.form-submit {
}
.container-inline div, .container-inline label {
    display: inline;
}
.tips {
}
.password-parent, .confirm-parent {
    margin: 0;
}
#block-search-form {
}
#user-login-form {
    text-align: left;
}
#user-login-form ul {
    margin-bottom: 0;
}
html.js #user-login-form li.openid-link, #user-login-form li.openid-link {
    margin-top: 1.5em;
    margin-left: -20px;
}
#user-login-form li.user-link {
    margin-top: 1.5em;
}
#user-login ul {
    margin: 1.5em 0;
}
form th {
    text-align: left;
    padding-right: 1em;
    border-bottom: 3px solid #ccc;
}
form tbody {
    border-top: 1px solid #ccc;
}
form tr.even {
    background-color: #fff;
}
form table .item-list ul {
    margin: 0;
}

.field {
}
.field-type-text {
}
.field-type-text-long {
}
.field-type-text-with-summary {
}
.field-type-image {
}
.field-type-file {
}
.field-type-taxonomy-term-reference {
}
.field-type-number-integer {
}
.field-type-number-decimal {
}
.field-type-number-float {
}
.field-type-list-text {
}
.field-type-list-boolean {
}
.field-type-list-integer {
}
.field-type-list-float {
}
.field-type-datetime {
}
.field-type-node-reference {
}
.field-type-user-reference {
}
.field-name-body {
}
.field-name-field-image {
}
.field-name-field-tags {
}
.field-name-field-FIELDNAME {
}

body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 20px;
    background: url(//ddmore.eu/sites/ddmore/themes/ddmore/images/b_tile.gif);
}
#skip-to-nav, #page {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 20px;
}
#header, #footer {
    width:  96.0%;
    margin: 0 auto;
}
#center-full {
    background: #ffffff;
    box-shadow: 0 0 5px #aaaaaa;
}
h1, h3, h3, h4 {
    color: #179349;
}
h1 {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    line-height: 32px;
}
a {
    color: #0078a6;
    text-decoration: none;
}
a:hover {
    color: #6bd6ff;
}
#page-wrapper, #header {
    position: relative;
}
#header {
    height: 100px;
}
#header a#logo {
    position: absolute;
    background: #ffffff;
    top: 31px;
    width:  29.0%;
    height: 100px;
    border-radius: 5px 5px 0 0;
}
#header a#logo img {
    display: block;
    margin: 15px 0 0 20px;
}
#header .user-menu {
    position: absolute;
    right: 17%;
    top: 14px;
    width: 20%;
}
#header .user-menu ul, #header .user-menu ul li {
    margin: 0;
    padding: 0;
}
#header .user-menu ul {
    text-align: right;
}
#header .user-menu ul li {
    display: inline-block;
    border-left: 1px solid #cacaca;
    line-height: 16px;
    padding-left:  1.0%;
    margin-left:  0.8%;
}
#header .user-menu ul li a {
    font-size: 11.5px;
    font-weight: bold;
    text-shadow: 1px 1px 0 #ffffff;
}
#header .user-menu ul li a:hover {
    color: #000000;
}
#header .user-menu ul li a.active {
    color: #000000;
}
#header .user-menu ul li.first {
    border-left: none;
}
#header .search {
    position: absolute;
    right: 0;
    top: 12px;
}
#header .search form {
    position: relative;
}
#header .search form input {
    border: none;
    background-color: #ffffff;
    background-repeat: no-repeat;
}
#header .search form input.form-text {
    height: 24px;
    width:  22.5%;
    padding: 2px 10px;
    color: #999999;
    font-size: 11px;
}
#header .search form input.form-text:focus {
    box-shadow: 0 0 8px #c9f0ff;
}
#header .search form input.form-submit {
    text-indent: -900%;
    position: absolute;
    margin: 0 0 0 0;
    right: 3px;
    top: 4px;
    width:  2.0%;
    height: 19px;
    border-left: 1px solid #e6e6e6;
    background-image: url(//ddmore.eu/sites/ddmore/themes/ddmore/images/l_search.png);
    background-position: 5px 50%;
    text-indent: -90%;
}
.main-menu {
    top: 53px;
    background: url(//ddmore.eu/sites/ddmore/themes/ddmore/images/b_menu.png) 100% 0 repeat-x;
    height: 100px;
    width:  71.0%;
    position: absolute;
    right: 0;
    border-radius: 0 5px 0 0;
}
.main-menu ul, .main-menu ul li {
    margin: 0;
    padding: 0;
    list-style: none;
}
.main-menu ul {
    padding-top: 16px;
    padding-left:  1.5%;
}
.main-menu ul li {
    float: left;
    height: 34px;
}
.main-menu ul li a {
    display: block;
    color: #bbbbbb;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 14px;
    padding: 0 18px;
}
.main-menu ul li a.active, .main-menu ul li li.active-trail a {
    padding: 6px 12px;
    background: #ffffff;
    border-radius: 5px 5px 0 0;
    color: #999999;
}
.main-menu ul li a:hover {
    color: #ffffff;
}
.main-menu ul li a.active:hover {
    color: #000000;
}
.main-menu ul li.expanded ul, .main-menu ul li.expanded ul li, .main-menu ul li.expanded ul li a {
    margin: 0;
    padding: 0;
}
.main-menu ul li.expanded ul {
    display: none;
    padding:  1.0%;
    margin: 0;
    position: absolute;
    top: 47px;
    width:  15.0%;
    background: #ffffff;
    z-index: 50;
    box-shadow: 4px 4px 5px #cccccc;
    border-radius: 0 0 5px 5px;
}
.main-menu ul li.expanded ul li {
    height: auto;
    float: none;
    padding: 5px 0;
    border-bottom: 1px solid #e6e6e6;
}
.main-menu ul li.expanded ul li a {
    text-transform: none;
    font-size: 12px;
}
.main-menu ul li.expanded ul li a.active, .main-menu ul li.expanded ul li a:hover {
    color: #179349;
}
.main-menu ul li.expanded ul li.last {
    border: none;
}
#center-background {
    position: absolute;
    margin-left: -11px;
    background: url(../images/ddmore/left.png) 0 -1px no-repeat;
    width:  98.1%;
    height: 120px;
}
#center-backgroundright {
    float:right;
    background: url(../images/ddmore/right.png) no-repeat;
    height: 120px;
    width:50px;
    margin-right: -3.0%
}

#content {
    background: #ffffff;
}
#content h1 {
    border-bottom: 1px solid #e6e6e6;
    margin-bottom: 15px;
    padding-bottom: 5px;
}
#content .section {
    padding: 35px 40px 0 40px;
}
.messages {
    margin: 0 20px;
    border-radius: 3px;
}
.page-node #content {
    padding-bottom: 30px;
}
.page-node #content h1#page-title {
    background: #f6f6f6;
    margin-bottom: 0;
    padding: 15px 20px 10px;
    border-radius: 5px 5px 0 0;
}
.page-node #content .section {
    padding: 40px 20px 20px;
}
.page-node #content .section .region-content {
    background: #f6f6f6;
    border-radius: 0 0 5px 5px;
    padding: 10px 20px 20px;
}
.page-node .action-links {
    position: absolute;
}
.earlier-events h2.block-title {
    margin-left:  2.0%;
}
.node .field-name-field-downloads {
    clear: both;
    background: #ffffff;
    padding: 5px 8px;
    font-size: 13px;
    margin-top: 15px;
    border-radius: 3px;
}
.node .submitted {
    color: #999999;
    font-size: 11px;
    padding-bottom: 8px;
}
.node .submitted .user-picture {
    float: left;
    margin-right:  1.5%;
}
.node .submitted .user-picture img {
    border-radius: 3px;
}
.node .field-name-field-image {
    float: right;
    margin: 0 10px 10px 30px;
}
.node .field-name-field-image img {
    border-radius: 3px;
}
.node .field-type-taxonomy-term-reference {
    padding-top: 10px;
    color: #999999;
    display: inline-block;
    width: auto;
}
.node .field-type-taxonomy-term-reference .field-label {
    display: none;
}
.node .field-type-taxonomy-term-reference .field-item {
    display: inline-block;
}
.node .field-type-taxonomy-term-reference .field-item a {
    border-radius: 3px;
    background: #ffffff;
    color: #aaaaaa;
    padding: 3px 8px;
    margin-right:  1.5%;
    font-weight: bold;
}
.node .field-type-taxonomy-term-reference .field-item a:hover {
    color: #6bd6ff;
}
.node .field-name-field-date {
    color: #999999;
    background: #ffffff;
    padding: 3px 8px;
    font-size: 12px;
    margin-bottom: 10px;
    display: inline-block;
}
.node .field-name-field-date .field-label, .node .field-name-field-date .field-items {
    display: inline-block;
}
.node-article .field-name-body {
    border-bottom: 1px solid #e6e6e6;
}
.node-events p:first-child {
    margin-top: 0;
}
.page-views #content h1 {
    margin: 0 20px;
}
.page-views #content .section {
    background: #f6f6f6;
    margin: 40px 20px;
    padding: 15px 0;
    border-radius: 5px;
}
.node table th {
    background: #dddddd;
    border-bottom: 2px solid #cccccc;
    padding:  0.5%;
    line-height: 15px;
}
.node table tr td {
    border-bottom: 1px solid #e6e6e6;
    padding:  0.5%;
}
.node table tr.odd {
    background: none;
}
.node table.text-smaller {
    font-size: 90%;
}
.view table th, .view table td {
    padding: 5px 10px;
}
.view table th {
    background: #dddddd;
    border-bottom: 2px solid #cccccc;
}
.view table tr {
    border-bottom: 1px solid #e6e6e6;
}
.view table tr.odd {
    background: none;
}
.view-users table .views-field-field-work-package {
    width:  12.0%;
}
.view-users table .views-field-mail {
    width:  15.0%;
    word-break: break-all;
}
.overview ul {
    padding: 0;
    margin: 0;
}
.overview .view-empty, .overview .view-header {
    padding: 0 40px 0 20px;
}
.overview .views-row {
    padding:  2.0%;
    list-style: none;
    border-bottom: 1px solid #e1e1e1;
    color: #555555;
}
.overview .views-row h4 {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 18px;
    line-height: 22px;
    margin: 0 0 5px 0;
}
.overview .views-row h4 a {
    color: #555555;
}
.overview .views-row h4 a:hover {
    color: #000000;
}
.overview .views-row .views-field-nothing {
    font-size: 11px;
    color: #999999;
    line-height: 16px;
    margin-bottom: 8px;
}
.overview .views-row p {
    margin-top: 0;
}
.overview .views-row.with-image {
    padding-left:  23.0%;
}
.overview .views-row.with-image .views-field-body {
    min-height: 115px;
}
.overview .views-row.with-image .views-field-field-image {
    position: absolute;
    margin-left: -21%;
}
.overview .views-row.with-image .views-field-field-image img {
    border-radius: 3px;
}
.page-node-32 #content {
    margin-right: -52%;
    width:  52.0%;
}
.page-node-32 #content h1#page-title {
    background: none;
    padding: 0 0 10px 0;
}
.page-node-32 #content .section {
    padding: 35px 40px 0;
}
.page-node-32 #content .section .region-content {
    background: none;
    padding: 0;
}
.page-node-32 .region-sidebar-second {
    margin-left:  52.0%;
    width:  42.0%;
    background: #f6f6f6;
    border-radius: 5px;
    margin-top: 20px;
    margin-bottom: 40px;
}
.page-node-32 .region-sidebar-second .section {
    padding: 25px 15px 0 25px;
}
.partner-titles ul {
    padding-left:  1.5%;
}
.partner-titles .views-field {
    display: inline-block;
}
.partner-overview .item-list {
    clear: both;
    margin-bottom: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid #cacaca;
}
.partner-overview .item-list h3 {
    font-size: 14px;
}
.partner-overview .item-list ul, .partner-overview .item-list ul li {
    margin: 0;
    padding: 0;
}
.partner-overview .item-list ul li {
    float: left;
    list-style: none;
    margin: 0 10px 10px 0;
}
.partner-overview .item-list ul li img {
    border-radius: 3px;
    box-shadow: 0 0 3px #cccccc;
}
.region-content .search-form {
    border-radius: 3px;
    background: #f6f6f6;
    padding: 10px 20px 20px;
    margin: 0;
}
.region-content .search-form input.form-text {
    font-size: 14px;
    color: #999999;
}
.region-content .search-form .container-inline label {
    display: block;
    font-size: 14px;
    margin-bottom: 10px;
}
.region-content ol.search-results {
    padding: 0;
}
.region-content ol.search-results li {
    border-bottom: 1px solid #e6e6e6;
}
.region-content ol.search-results li h3 {
    margin-bottom: 10px;
}
.region-content ol.search-results li .search-info {
    color: #999999;
}
.contacts {
    padding:  2.0%;
}
.contacts .view-filters {
    padding-bottom: 15px;
    margin-bottom: 25px;
    border-bottom: 1px solid #e6e6e6;
}
.contacts .view-filters select, .contacts .view-filters input.form-text {
    background: #ffffff;
    border: 1px solid #e6e6e6;
    border-radius: 3px;
    font-size: 13px;
}
.contacts .view-filters select {
    padding: 4px 5px 3px;
}
.contacts .view-filters label {
    margin-bottom: 5px;
}
.contacts .view-filters #edit-field-work-package-tid {
    width:  10.0%;
}
.contacts .views-row {
    float: left;
    width:  17.5%;
    padding: 10px 15px;
    background: #ffffff;
    margin-right:  2.0%;
    margin-bottom: 20px;
    border-radius: 3px;
    box-shadow: 1px 1px 2px #dddddd;
    font-size: 11.5px;
    line-height: 18px;
    padding-bottom: 10px;
}
.contacts .views-row h4 {
    margin: 0;
    font-size: 14px;
    padding-bottom: 2px;
}
.contacts .views-row .views-field.views-field-field-work-package, .contacts .views-row .views-field.views-field-field-user-category {
    display: inline-block;
    padding: 0;
    font-size: 11px;
    color: #999999;
    line-height: 16px;
}
.contacts .views-row .views-field-nothing {
    font-size: 11px;
    color: #999999;
    line-height: 16px;
    margin: 2px 0px 5px;
}
.contacts .views-row .views-field-nothing span {
    border-bottom: 1px solid #e6e6e6;
    display: block;
    padding-bottom: 5px;
}
.contacts .views-row .views-field-field-work-phone, .contacts .views-row .views-field-field-mobile-phone, .contacts .views-row .views-field-mail {
    padding-left:  2.0%;
    background: url(//ddmore.eu/sites/ddmore/themes/ddmore/images/l_icons.png) 0 3px no-repeat;
}
.contacts .views-row .views-label {
    font-weight: bold;
}
.contacts .views-row .views-field-field-work-phone {
    background-position: 0 -33px;
}
.contacts .views-row .views-field-mail {
    border-top: 1px solid #e6e6e6;
    margin-top: 4px;
    padding-top: 4px;
    background-position: 0 -65px;
}
.contacts .views-row.views-row-4, .contacts .views-row.views-row-8, .contacts .views-row.views-row-12, .contacts .views-row.views-row-16 {
    margin-right: 0;
}
.page-users .contacts .views-row {
    min-height: 190px;
}
.region-sidebar-second .section {
    padding-top: 42px;
    padding-right:  2.0%;
}
.region-sidebar-second .block {
    border-bottom: 1px solid #e6e6e6;
}
.region-sidebar-second .block h2 {
    color: #555555;
    font-size: 18px;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    margin-bottom: 15px;
}
.region-sidebar-second .cat-overview .content ul {
    margin: 0;
    padding: 0;
}
.region-sidebar-second .cat-overview .content ul li {
    list-style: none;
    margin-bottom: 10px;
}
.region-sidebar-second .cat-overview .content ul li a {
    font-weight: bold;
    color: #179349;
}
.region-sidebar-second .cat-overview .content ul li a:hover {
    color: #095628;
}
.region-sidebar-second .work-packages .content ul li {
    float: left;
    width:  8.0%;
}
.region-sidebar-second .block.last {
    border: none;
}
.region-sidebar-second .users ul, .region-sidebar-second .users .views-row {
    margin: 0;
    padding: 0;
    list-style: none;
}
.region-sidebar-second .users .views-row {
    line-height: 19px;
    clear: both;
    margin-bottom: 12px;
}
.region-sidebar-second .users .views-row .views-field-picture {
    float: left;
    margin-right:  1.0%;
    margin-top: 4px;
}
.region-sidebar-second .users .views-row a {
    font-weight: bold;
}
.region-sidebar-second .users .views-row .views-field-field-partner-full-name {
    color: #999999;
    font-size: 11px;
}
.region-sidebar-second .mailchimp {
    padding-bottom: 25px;
}
.region-sidebar-second .mailchimp #edit-mailchimp-lists-mailchimp-ddmore-newsletter-title.form-item {
    color: #666666;
    font-size: 11px;
}
.region-sidebar-second .mailchimp #edit-mailchimp-lists-mailchimp-ddmore-newsletter-title.form-item .description {
    font-size: 12px;
}
.region-sidebar-second .mailchimp .form-item {
    margin: 0 0 15px 0;
}
.region-sidebar-second .mailchimp .form-item label {
    padding-bottom: 3px;
}
.region-sidebar-second .mailchimp .form-item input {
    color: #666666;
}
.region-sidebar-second .mailchimp input.form-submit {
    text-transform: uppercase;
    text-shadow: 1px 1px 1px #054f22;
    cursor: pointer;
}
.profile {
    min-height: 300px;
    max-width:  58.0%;
}
.profile .field-name-field-surname, .profile .field-name-field-name {
    display: none;
}
.profile .field {
    float: left;
    width: 50%;
    color: #555555;
    font-size: 15px;
    line-height: 20px;
    margin-bottom: 15px;
}
.profile .field a {
    font-weight: bold;
}
.profile .user-picture {
    position: absolute;
    right: 30px;
}
#content-bottom {
    font-size: 12px;
    line-height: 18px;
    color: #ffffff;
    border-radius: 5px 5px 0 0;
    position: relative;
    padding-bottom: 15px;
}
#content-bottom .region {
    padding:  2.0%;
}
#content-bottom h2 {
    font-size: 16px;
    margin-bottom: 15px;
}
#content-bottom .block.block-menu {
    position: absolute;
    margin: 0;
    bottom: -25px;
    background: #4a4949 url(//ddmore.eu/sites/ddmore/themes/ddmore/images/b_menu.png) 0 0 repeat-x;
    margin-left: -20px;
    width:  99.0%;
    height: 45px;
    border-radius: 0 0 5px 5px;
}
#content-bottom .block.block-menu ul {
    margin: 0;
    padding: 16px 0 0 20px;
}
#content-bottom .block.block-menu ul li {
    list-style: none;
    padding: 0 8px 0 0;
    margin: 0 8px 0 0;
    display: inline-block;
    border-right: 1px solid #666666;
}
#content-bottom .block.block-menu ul li a {
    color: #ffffff;
    text-shadow: 1px 1px 1px #000000;
}
#content-bottom .block.block-menu ul li a:hover {
    color: #cccccc;
}
#content-bottom .block.block-menu ul li li.active-trail a, #content-bottom .block.block-menu ul li a.active {
    color: #6bd6ff;
    font-weight: bold;
}
#content-bottom .block.social {
    position: absolute;
    right: 8px;
    bottom: -18px;
    margin: 0;
    background: #404040;
    box-shadow: 1px 1px 0 #535353 inset;
    border-radius: 3px;
    line-height: 17px;
}
#content-bottom .block.social .content {
    padding: 5px 10px;
}
#content-bottom .block.social .content p {
    margin: 0;
}
#content-bottom .block.social .content a {
    display: inline-block;
    text-indent: -900%;
    height: 15px;
    width:  5.7%;
    background: url(//ddmore.eu/sites/ddmore/themes/ddmore/images/l_twitter.png) 0 1px no-repeat;
}
.front.page-node #content h1#page-title {
    padding: 10px 20px;
    background: none;
}
.front.page-node #content .section .region-content {
    background: none;
    padding: 0 0 0 20px;
}
.front.page-node #content .section .region-content img {
    float: right;
    margin-top: -60px;
}
#content .users.associated h2 {
    color: #555555;
}
#content .users.associated .item-list {
    float: left;
    width: 33%;
}
#content .users.associated .item-list h3 {
    color: #179349;
    font-size: 14px;
    border-bottom: 1px solid #e6e6e6;
    margin-right:  2.0%;
    padding-bottom: 5px;
    margin-bottom: 5px;
}
#content .users.associated .item-list ul {
    margin: 0;
    padding: 0 20px 0 0;
}
#content .users.associated .item-list ul li {
    list-style: none;
    margin-bottom: 10px;
}
#content .users.associated .item-list ul li a {
    font-weight: bold;
}
.footer-block {
    float: left;
    width: 33%;
    border-left: 1px solid #00648b;
}
.footer-block h2, .footer-block .content {
    padding: 0 25px 10px 25px;
}
.footer-block h2 {
    padding-bottom: 0;
}
.footer-block h4 {
    margin: 0px 0 5px;
    line-height: 22px;
    font-size: 16px;
}
.footer-block ul, .footer-block ul li {
    margin: 0;
    padding: 0;
    list-style: none;
}
.footer-block p {
    margin-top: 0;
}
.footer-block a {
    color: #6bd6ff;
}
.footer-block a:hover {
    color: #ffffff;
}
.footer-block .views-field-created, .footer-block .views-field-field-date {
    color: #000000;
    font-size: 11px;
}
.footer-block .views-field-view-node a {
    border-radius: 3px;
    display: inline-block;
    margin-top: 10px;
    padding: 3px 18px 3px 8px;
    color: #ffffff;
    background: #00435b url(//ddmore.eu/sites/ddmore/themes/ddmore/images/l_arrows.png) 103% -34px no-repeat;
    box-shadow: 0 1px 0 #0078a6;
    font-weight: bold;
}
.footer-block .views-field-view-node a:hover {
    background-color: #006587;
}
.footer-block.first {
    border: none;
}
.footer-block.first .content, .footer-block.first h2 {
    padding-left: 0;
}
.footer-block.upcoming-events .content, .footer-block.upcoming-events h2 {
    padding-right: 0;
}
.footer-block.quick-facts ul li {
    background: url(//ddmore.eu/sites/ddmore/themes/ddmore/images/l_arrows.png) 0 5px no-repeat;
    padding-left:  1.8%;
    margin-bottom: 8px;
}
.region-bottom {
    padding-top: 35px;
    padding-bottom: 40px;
}
.region-bottom .block {
    font-size: 11px;
    color: #999999;
}
.region-bottom .block p {
    margin: 0;
}
.view-taxonomy-term .views-field-description ul li {
    margin-left:  1.8%;
}
input.form-text, input.form-select, textarea {
    font-family: inherit;
    background: #ffffff;
    border: 1px solid #e6e6e6;
    padding: 5px 8px;
}
input.form-submit {
    background: #169348;
    color: #ffffff;
    font-family: inherit;
    border-radius: 3px;
    font-weight: bold;
    font-size: 13px;
    border: none;
    padding: 4px 12px;
    line-height: 24px;
}
.clear {
    height: 1px;
    clear: both;
    display: block;
    margin-top: -1px;
}
#comments {
    border-top: 1px solid #e6e6e6;
    padding-top: 25px;
}
#comments h2 {
    color: #179349;
    font-size: 16px;
    margin-bottom: 20px;
}
#comments .form-type-item {
    display: none;
}
#comments .form-item-subject label {
    display: inline-block;
    width:  15.0%;
}
#comments .form-item-subject input {
    font-size: 14px;
    padding: 5px 8px;
}
.no-sidebars #comments input {
    width:  62.2%;
}
.comment {
    background: #ffffff;
    padding:  1.5%;
    padding-left:  6.0%;
    border-radius: 2px;
    margin-bottom: 20px;
}
.comment ul.links {
    margin-bottom: 5px;
}
.comment .user-picture {
    position: absolute;
    margin-left: -50px;
}
.comment h3 {
    margin: 0 0 5px 0;
}
.comment h3 a {
    color: #000000;
}
.comment .content {
    border-top: 1px solid #e6e6e6;
}
.comment .content p {
    margin: 10px 0 15px 0;
}
.field-name-field-document {
    margin-top: 30px;
}
ul.links .comment-add a {
    background: #0078a6;
    color: #ffffff;
    font-weight: bold;
    padding: 3px 5px;
    font-size: 12px;
    border-radius: 2px;
}

.section-timeline.page-views #content .section {
    background: none;
}
.section-timeline.page-views #content h1#page-title {
    text-align: center;
    padding-bottom: 15px;
}
.section-timeline.page-views #content .timeline-intro {
    font-size: 16px;
    line-height: 24px;
    color: #666666;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    width:  82.0%;
    margin: 0 auto;
    text-align: center;
}
#block-views-exp-timeline-page, #timeline {
    background: #f6f6f6;
}
#block-views-exp-timeline-page.block {
    border-radius: 5px 5px 0 0;
    border-bottom: 1px solid #e6e6e6;
    margin-bottom: 0;
}
#block-views-exp-timeline-page.block .views-exposed-form {
    padding: 10px 20px 10px 20px;
}
#timeline {
    border-radius: 0 0 5px 5px;
    padding-bottom: 30px;
}
#timeline .view-content {
    width:  82.0%;
    margin: 0 auto;
    padding-top: 20px;
}
#timeline .view-empty {
    text-align: center;
    padding-top: 20px;
    margin: 0 40px;
}
#timeline .year-container {
    background: url(//ddmore.eu/sites/ddmore/themes/ddmore/images/timeline-line.gif) 50% 0 repeat-y;
}
#timeline .row-container {
    clear: both;
    padding: 10px 0 50px 0;
}
#timeline h3 {
    clear: both;
    float: left;
    width: 100%;
    background: url(//ddmore.eu/sites/ddmore/themes/ddmore/images/timeline-year.png) 50% 0 no-repeat;
    text-align: center;
    height: 85px;
    margin: -7px 0 0 0;
}
#timeline h3 span {
    display: block;
    padding-top: 32px;
    color: #ffffff;
    text-shadow: 1px 1px 0 #00597b;
}
#timeline .views-row {
    clear: both;
    background: #ffffff;
    border-radius: 5px;
    width:  32.0%;
    margin-top: 10px;
    position: relative;
    padding: 15px 15px 20px;
    box-shadow: 2px 2px 2px #cccccc;
}
#timeline .views-row .open-close {
    position: absolute;
    width:  2.3%;
    height: 23px;
    top: 10px;
    right: 10px;
    background: url(//ddmore.eu/sites/ddmore/themes/ddmore/images/timeline-open-close.png) 0 0 no-repeat;
    text-indent: -900%;
    cursor: pointer;
}
#timeline .views-row .timeline-body, #timeline .views-row .timeline-dates, #timeline .views-row .read-more {
    margin-left:  0.8%;
}
#timeline .views-row.expanded .open-close {
    background: url(//ddmore.eu/sites/ddmore/themes/ddmore/images/timeline-open-close.png) 0 -34px no-repeat;
}
#timeline .views-row h4 {
    font-size: 16px;
    line-height: 20px;
    margin: 0 23px 0 0;
}
#timeline .views-row h4 a {
    color: #179349;
}
#timeline .views-row h4 a:hover {
    color: #000000;
}
#timeline .views-row .views-field-collection {
    font-size: 13px;
    color: #666666;
}
#timeline .views-row p {
    margin-top: 7px;
}
#timeline .views-row .timeline-image {
    padding-top: 15px;
}
#timeline .views-row .timeline-image img {
    border-radius: 2px;
}
#timeline .views-row .timeline-dates {
    border-top: 1px solid #e6e6e6;
    padding-top: 10px;
    color: #000000;
    display: inline-block;
    margin-bottom: 15px;
}
#timeline .views-row .timeline-dates .date-field {
    width:  15.0%;
    display: inline-block;
}
#timeline .views-row .timeline-dates .field-label {
    display: block;
    font-weight: bold;
}
#timeline .views-row .read-more a {
    display: inline-block;
    background: #f6f6f6 url(//ddmore.eu/sites/ddmore/themes/ddmore/images/l_timeline-arrow.png) 94% 9px no-repeat;
    padding: 3px 20px 3px 10px;
    border-radius: 3px;
    color: #179349;
    font-weight: bold;
}
#timeline .views-row .read-more a:hover {
    background-color: #dddddd;
}
#timeline .views-row .views-field-field-period-1 {
    position: absolute;
    right: -77px;
    background: url(//ddmore.eu/sites/ddmore/themes/ddmore/images/timeline-b-date.png) 0 0 no-repeat;
    width:  7.7%;
    top: 9px;
    height: 37px;
}
#timeline .views-row .views-field-field-period-1 .field-content {
    font-size: 11px;
    text-transform: uppercase;
    color: #555555;
    text-align: center;
    padding-top: 7px;
}
#timeline .views-row.views-row-even {
    float: right;
}
#timeline .views-row.views-row-even .views-field-field-period-1 {
    right: auto;
    left: -77px;
    background-position: 0 -53px;
}
#timeline .views-row.milestone {
    background: #ffffff url(//ddmore.eu/sites/ddmore/themes/ddmore/images/timeline-milestone.png) 15px 0 no-repeat;
}
#timeline .views-row.milestone .views-field-field-milestone {
    display: none;
}
#timeline .views-row.milestone .views-field-title {
    padding-left:  4.5%;
}
#timeline .views-field-collection {
    display: none;
}
#timeline .view-header {
    position: absolute;
    right: 20px;
    margin-top: -45px;
}
#timeline .view-header .timeline-control {
    cursor: pointer;
    margin-left:  1.0%;
    color: #aaaaaa;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 12px;
    font-weight: bold;
    float: left;
    background: #ffffff;
    border: 1px solid #e6e6e6;
    padding-left:  0.8%;
    line-height: 28px;
    border-radius: 5px;
    box-shadow: 1px 1px 0 #e6e6e6;
    text-transform: uppercase;
}
#timeline .view-header .timeline-control span {
    border-left: 1px solid #e6e6e6;
    display: inline-block;
    margin-left:  1.0%;
    width:  2.5%;
    height: 100%;
    background: url(//ddmore.eu/sites/ddmore/themes/ddmore/images/timeline-arrow.png) 8px 11px no-repeat;
}
#timeline .view-header .timeline-control.active {
    background: #ededed;
    box-shadow: 2px 2px 5px #dcdcdc inset;
}
#timeline .view-header .timeline-control.active span {
    background-position: 8px -28px;
    border-left: 1px solid #cccccc;
}
#block-views-exp-timeline-page .views-exposed-form {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
#block-views-exp-timeline-page .views-exposed-form .views-widget-sort-by {
    display: none;
}
#block-views-exp-timeline-page label {
    font-size: 11px;
    font-weight: bold;
    text-transform: uppercase;
    color: #aaaaaa;
    text-shadow: 1px 1px 0 #ffffff;
    padding-bottom: 3px;
    padding-left:  0.5%;
}
#block-views-exp-timeline-page select, #block-views-exp-timeline-page option {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 13px;
    color: #999999;
}
#block-views-exp-timeline-page select {
    color: 000;
    background: #ffffff;
    border: none;
    border: 1px solid #e6e6e6;
    padding: 4px 5px;
    border-radius: 5px;
    box-shadow: 1px 1px 0 #e6e6e6;
}
.node-timeline .field-name-field-period {
    background: #f0f0f0;
    border-bottom: 1px solid #e6e6e6;
    margin-top: -10px;
    margin-left: -20px;
    padding: 10px 20px;
    width:  64.0%;
    margin-bottom: 20px;
    line-height: 18px;
}
.region-sidebar-second a.back-to-timeline {
    display: block;
    color: #ffffff;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    background: url(//ddmore.eu/sites/ddmore/themes/ddmore/images/btn_back-to-timeline.png) 0 0 no-repeat;
    text-shadow: 1px 1px 0 #107d21;
    padding: 8px 0 10px 42px;
}
.region-sidebar-second a.back-to-timeline.back-to-timeline:hover {
    color: #d4f8dc;
}
.region-sidebar-second .whats-next-list {
    font-size: 13px;
    line-height: 18px;
}
.region-sidebar-second .whats-next-list ul, .region-sidebar-second .whats-next-list ul li {
    margin: 0;
    padding: 0;
    list-style: none;
}
.region-sidebar-second .whats-next-list ul {
    margin: 15px 0;
}
.region-sidebar-second .whats-next-list ul li {
    border-bottom: 1px solid #e6e6e6;
    padding: 5px 0 5px 45px;
    min-height: 35px;
}
.region-sidebar-second .whats-next-list ul li:last-child {
    border: none;
}
.region-sidebar-second .whats-next-list ul li a {
    color: #179349;
    font-weight: bold;
}
.region-sidebar-second .whats-next-list ul li .next-date {
    margin-left: -45px;
    position: absolute;
    background: #f6f6f6;
    box-shadow: 0 0 3px #f0f0f0 inset;
    width:  2.5%;
    text-align: right;
    padding:  0.5%;
    margin-right:  2.0%;
    line-height: 13px;
    font-size: 11px;
    font-weight: bold;
    border-radius: 5px;
}
.region-sidebar-second .whats-next-list ul li .next-date span {
    display: block;
    color: #666666;
}
