.filegrid {
  background: white;
  margin: 0 0 20px 0;
}
.filegrid:after {
  content: "";
  display: table;
  clear: both;
}
[class*='filecol-'] {
  float: left;
}
.filecol-2-3 {
  width: 70%;
  margin-left: 3%;
}
.filecol-1-3 {
  width: 25%;
}
.metapanel {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #aaaaaa;
  background-color: #ffffff;
  background-attachment: scroll;
  background-clip: border-box;
  background-origin: padding-box;
  background-size: auto auto;
  color: #222222;
}
.padleft {
 padding-left: 20px;	
}
.padright {
 padding-right: 20px;	
}
.padtop {
 padding-top: 20px;	
}
.padbottom {
 padding-bottom: 20px;	
}

