#topBar {
            border-radius:6px;
	    padding: 8px;
	    float: top;
        }
        #tablewrapper {
            margin-top: 60px;
        }
        .submit {
	    background-color: #5CAD85;
	    -moz-border-radius: 5px;
	    -webkit-border-radius: 5px;
	    border-radius:6px;
	    margin-top:3px;
	    margin-right:8px;
	    color: #fff;
	    font-family: 'Verdana';
	    font-size: 20px;
	    text-decoration: none;
	    cursor: pointer;
	    padding: 8px;
	    border:none;
	    float: right;
	}
	.submit:hover {
	    border: none;
	    background:#339966;
	    box-shadow: 0px 0px 1px #777;
	
	}
	.centeringContainer {
	    display: block;
	    margin-left:auto;
	    margin-right:auto;
	    text-align:center;
	}
        .downloadFile {
	    background-color: #5CAD85;
	    -moz-border-radius: 5px;
	    -webkit-border-radius: 5px;
	    border-radius:6px;
	    color: white;
	    font-family: 'Verdana';
	    font-size: 20px;
	    cursor: pointer;
	    padding: 8px;
	    border:none;
	}
	.downloadFile:hover {
	    border: none;
	    background:#339966;
	    box-shadow: 0px 0px 1px #777;
	
	}
	#Files {
	    display: inline-block;
	    margin-left:5%;
	    height: 100%;
	    width:90%;
	}
	#treeView {
	    float:left;
	    margin:5px;
	}
	.pointerhere {
		cursor: pointer;
	}
	#resizable { 
	    height: 100%; padding: 0.5em; border=none; margin-left:30px;	  
	    float:left;
	 }


.arrow-down {
	width: 0; 
	height: 0; 
	border-left: 12px solid transparent;
	border-right: 12px solid transparent;
	float: right;
	cursor: pointer;
	border-top: 12px solid gray;
}
.flash{
width:759px;
text-align:left;
padding-top:8px;
padding-bottom:8px;
background-color: #fff;
font-size:20px;-moz-border-radius: 6px;-webkit-border-radius: 6px;
color:brown;
}
.ui-menu { width: 150px; }
#modeltoolbar {
    padding: 4px;
    display: inline-block;
  }
  /* support: IE7 */
  *+html #modeltoolbar {
    display: inline;
  }
  </style>
