/***********************************************
 * Common less classes.
 ***********************************************/

/**
 * Class which renders the element as a block element.
 **/
.all {
    display: block;
}

/**
 * Standard margins setting left and right margin to auto.
 **/
.standardMargins {
    margin-left: auto;
    margin-right: auto;
}

/**
 * The JUMMP container elements:
 * @li block
 * @li standardMargins
 * @li width of 1024px
 **/
.container {
    .all;
    .standardMargins;
    width: 1024px;
    left: 0px;
    right: 0px;
    position: absolute;
    z-index: 2;
}

/**
 * Standard class for anything setting a "real" background.
 **/
.backgrounds {
  width: 100%;
  z-index: 1;
  position: absolute;
}

/**
 * Standard text with no margin and Arial 12pt
 **/
.standardText {
  margin: 0px;
  font-size: 12pt;
}

/**
* Active state overlay for the standard buttons. Triggered either by pseudo-class "hover"
* or class "active" on any input or button element.
* The overlay is achived by using two background images put on top of each other. This might not
* be supported by legacy browsers.
**/
.activeButtonBackground {
    background-image: url(images/button_active_overlay.png), url(images/button.png);
    background-position: right, right;
}

/***********************************************
 * Common less variables.
 ***********************************************/

/**
 * Background color for top background area.
 **/
@topBackgroundColor: #000000;
/**
 * Text color which works with the top background area.
 **/
@topBackgroundHighlightColor: white;
/**
 * Border between top and middle background
 **/
@middleBackgroundBorderTop: 1px solid #FFFFFF;

/**
 * Standard color for highlighted text.
 **/
@highlightColor: #0060AE;
@h2Overline: 1px solid #009EE1;
@contentOverline: 1px solid #BAB5A6;
@LinkAreaBorderTop: 1px solid #e0dee7;

@sideBarColorExternal: #EF8C0B;
@sideBarColor: #0060AD;

@standardIndentation: 18px;
/**
 * Height of the top background area.
 **/
@topBackgroundHeight: 251px;
@highMargin: 30px;
/**
 * General text shadow.
 **/
@textShadow: 0px 0px 10px rgba(0, 0, 0, 0.75);

/**
 * Size of mode switch button. To be used for padding.
 **/
@modeSwitchStandardExtend: 42px;

@mainAreaWidth: 602px;
/**
 * Width of the Sidebar.
 **/
@sideBarWidth: 368px;

/**
 * Class for using the top background image as a background.
 **/
.backgroundImage {
    background-color: @topBackgroundColor;
    background-image:  url(images/background_top.png);
    background-repeat: no-repeat;
    background-position: top center;
    color: @topBackgroundHighlightColor;
}

/***********************************************
 * Global element styling
 ***********************************************/

/**
 * All paragraphs have standard text.
 **/
p {
    .standardText;
}
body {
    background-color: #BBB5A7;
    margin: 0px;
}
/**
 * All links have the highlight color and are not underlined.
 **/
a {
    color: @highlightColor;
    text-decoration: none;
    /**
    * Active and hovered links are underlined.
    **/
    &:active, &:hover {
        text-decoration: underline;
    }
}
/**
 * All lists have a "normal" style, but in highlight color.
 **/
ul {
    list-style-type: none;
}
li::before {
    color: @highlightColor;
    content: "\2022";
    padding-right: 6px;
    font-weight: bold;
}

/**
 * Using Arial-like fonts
 **/
* {
 font-family: sans-serif;
}

/**
 * Standard design for any button (either an input reset, input submit or button) in JUMMP.
 * Uses an image as background positioned to the right, with text on left.
 **/
input[type="reset"], input[type="submit"], button {
    background-color: transparent;
    background-image: url(images/button.png);
    background-repeat: no-repeat;
    height: @modeSwitchStandardExtend;
    padding-right: @modeSwitchStandardExtend + 4;
    background-position: right;
    border-style: none;

    &:hover {
        .activeButtonBackground;
    }
}
button.active, input.active {
    .activeButtonBackground;
}

/**
 * Removes dotted outline of clicked (active) buttons in Firefox
 **/
button::-moz-focus-inner, input::-moz-focus-inner {
    border: 0;
}

/**
 * Each Form element has the same background as the top area with a drop shadow behind.
 * The background image is slightly scaled in x-direction to not start in the black area.
 * The form is floating left to get the buttons to float right.
 **/
form {
    padding: @standardIndentation;
    box-shadow: 0px 0px 18px rgba(0, 0, 0, 0.75);
    background-size: 110% 100%;
    float: left;
    width: @mainAreaWidth - 2 * @standardIndentation;
    .backgroundImage;
}

/**
 * Adjustments for a button on the right. Puts the background image to the left. Apart from the
 * no further changes.
 **/
input.right, button.right {
    background-position: left;
    padding-left: @modeSwitchStandardExtend;
}

/***********************************************
 * Id based styling
 ***********************************************/

/**
 * Style for the top background area consisting of an absolut positioned image.
 **/
#topBackground {
    height: @topBackgroundHeight;
    top: 0px;
    left: 0px;
    right: 0px;
    .backgrounds;
    .backgroundImage;
}

/**
 * The middle background starts below the top background and consists of a repeated image.
 **/
#middleBackground {
    border-top: @middleBackgroundBorderTop;
    background-image: url(images/background_diagonal.png);
    background-repeat: repeat;
    height: 300px;
    top: @topBackgroundHeight;
    .backgrounds;
}

/**
 * The Logo is placed on top of the top background.
 **/
#logo {
    background-image: url(images/jummp_logo.png);
    background-repeat: no-repeat;
    height: 100px;
    .container;
}

/**
 * Mode Switch are the buttons to switch between search and submit mode.
 * The buttons are absolut positioned on top of the top background.
 **/
#modeSwitch {
    height: 47px;
    top: 45px;
    left: 0px;
    right: 0px;
    text-align: right;
    .container;
    button {
        color: @topBackgroundHighlightColor;
        text-shadow: @textShadow;
        font-weight: bold;
    }
}

#container {
    background-color: #FFFFFF;
    top: 99px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
    .container;
    position: relative;
}

#nav {
    .all;
    height: 30px;
    float: left;
    margin-top: 70px;
    margin-left: 0px;
    margin-right: 0px;
    position: relative;
    box-shadow: 0px -2px 4px #000000;
    div {
        width: 200px;
        position: relative;
        float: left;
        text-align: center;
        background-repeat: repeat-x;
        a {
            color: white;
            text-decoration: none;
            line-height: 30px;
            font-weight: bold;
            text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.75);
        }
    }
    div.left {
        background-image: url(images/background_tab_selected.png);
    }
    div.right {
        background-image: url(images/background_tab.png);
    }
}

#branding {
    .all;
    height: 70px;
    float: right;
    padding: 15px;
}

#contentContainer {
    clear: both;
    .all;
    padding-right: @standardIndentation;
    padding-left: @standardIndentation;
    border-top: 1px solid #0061B2;
    box-shadow: 0px -2px 8px #000000;
}

#socialMedia {
    .all;
    text-align: right;
    margin-top: 10px;
    margin-bottom: 10px;
}

#main {
    .all;
    width: @mainAreaWidth;
    float: left;
    border-top: @contentOverline;
    padding-right: @standardIndentation;
    margin-bottom: @standardIndentation;
    h1 {
        color: @highlightColor;
        margin-top: @highMargin;
        padding-bottom: 15px;
        border-bottom: @h2Overline;
        font-size: 32pt;
        font-weight: bold;
    }
    h2 {
        margin-top: 0px;
        padding-top: 12px;
        font-size: 14pt;
        font-weight: bold;
    }
}

#sideBar {
    .all;
    width: @sideBarWidth;
    float: right;
    border-top: @contentOverline;
    div.element {
        background-color: #F2F1EE;
        padding-bottom: @standardIndentation;
        padding-left: @standardIndentation;
        padding-right: @standardIndentation;
        a {
            color: @sideBarColor;
            font-variant: small-caps;
        }
        p {
            clear: both;
            img {
                float: right;
            }
        }
        div.rss {
            float: right;
            margin-top: @highMargin;
        }
        h1 {
            float: left;
            margin: @highMargin @standardIndentation 15px 0px;
            color: @highlightColor;
            font-size: 18pt;
            font-weight: bold;
        }
        h2 {
            clear: both;
            border-top: @h2Overline;
            .standardText;
            padding-top: 12px;
            font-weight: bold;
        }
    }
    div.followup {
        margin-top: @standardIndentation;
    }
    div.element.external {
        a, h1, h2 {
            color: @sideBarColorExternal;
            border-color: @sideBarColorExternal;
        }
        li::before {
            color: @sideBarColorExternal;
        }
    }
    /**
    * No indentation for list elements in side bar boxes.
    **/
    ul {
        padding-left: 0px;
    }
}

#linkArea {
    clear: both;
    .all;
    color: @sideBarColor;
    border-top: @LinkAreaBorderTop;
    padding-bottom: @standardIndentation;
}

#footer {
    .all;
    background-color: #FFFFFF;
    position: relative;
    width: 988px;
    .standardMargins;
    z-index: 1000;
    padding-left: @standardIndentation;
    padding-right: @standardIndentation;
    top: 99px;
    box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.3);
    font-size: 10pt;
}

/***********************************************
 * Class based styling
 ***********************************************/

div.dialog {
    width: 100%;
    table {
        width: 100%;
        /**
        * Name elements in tabular layouts are right aligned.
        * (following the common pattern of form layouts).
        **/
        td.name {
            text-align: right;
        }
        /**
        * Give maximum available width to input elements in our forms.
        **/
        td.value input[type="text"], td.value input[type="password"], td.value textarea {
            width: 100%;
        }
    }
}

/**
 * The button area should be on the right side of a form.
 **/
div.buttons {
    float: right;
    /**
    * Buttons of a form have to be with highlight text color (because of top background), with
    * a text shadow, bold and capitalized.
    **/
    input {
        color: @topBackgroundHighlightColor;
        text-shadow: @textShadow;
        font-variant: small-caps;
        font-weight: bold;
    }
}
