#mainframe {
	position: relative;
	min-width:1000px;
}
#helpbutton { 
		 height: 40px; 
		 position: fixed;
		 right:0;
		 top: 95%; 
}
#helpPanel {
	height:600px;
}
#helpbutton a { 
	display: block; 
	background: gray; 
	height: 20px; 
	width: 90px; 
	padding: 10px;
	text-align: center;
	color: #fff; 
	font-family: Arial, sans-serif; 
	font-size: 17px; 
	font-weight: bold; 
	text-decoration: none; 
	border-bottom: solid 1px #333;
	border-left: solid 1px #333;
	border-right: solid 1px #fff;
}

 #helptoolbar {
	 padding: 4px;
	 display: inline-block;
	 width:100%;
	 cursor: !Important move;
 }
 /* support: IE7 */
 *+html #helptoolbar {
	 display: inline;
 }

#helpbutton a:hover { 
	background: #06c; 
}
.ui-resizable-helper { border: 1px dotted gray; }
iframe {
border: 0px solid #ffffff;
}

#helpFrame {
   width: 99%; 
   height: 100%; 
   overflow: scroll;
   border:2px ridge gray !important;	
}
.ui-widget a:link {color: #000000; text-decoration: underline; !important }
.ui-widget a:active {color: #0000ff; text-decoration: underline; !important}
.ui-widget a:visited {color: #008000; text-decoration: underline; !important}
.ui-widget a:hover {color: #ff0000; text-decoration: none; !important}
.required:after { content:" *"; }

#modelToolbar { 
	box-sizing: border-box;
	border-right-width-value: 1px;
	border-right-style-value: solid;
	border-right-color-value: #cccccc;
	background-color: #f5f5f5;
	position: fixed;
	top: 20%;
	bottom: auto;
}
#toolbarList {
	padding:0; 
	margin:0; 
	text-align: center;
}
#toolbarList li { 
    margin-top:0; 
	margin-bottom:0; 
	list-style-type:none;
    -webkit-column-break-inside: avoid;
    break-inside: avoid-column;
    text-align: center;
} 
.collapsibleContainerContent {
	border-right: thick double #ff0000;
	height: 100%
}
#helpPanel {
	height:600px;
}
