#mainframe {
	position: relative;
	min-width:1000px;
}
#helpbutton { 
		 height: 40px; 
		 position: fixed;
		 margin-left: -40px;
		 top: 40%; 
		 transform: rotate(-90deg);
		 -webkit-transform: rotate(-90deg); 
		 -moz-transform: rotate(-90deg); 
		 -o-transform: rotate(-90deg); 
		 filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}
#helpPanel {
	height:600px;
}
#helpbutton a { 
	display: block; 
	background: gray; 
	height: 20px; 
	width: 90px; 
	padding: 10px;
	text-align: center;
	color: #fff; 
	font-family: Arial, sans-serif; 
	font-size: 17px; 
	font-weight: bold; 
	text-decoration: none; 
	border-bottom: solid 1px #333;
	border-left: solid 1px #333;
	border-right: solid 1px #fff;
}

 #helptoolbar {
	 padding: 4px;
	 display: inline-block;
	 width:100%;
	 cursor: !Important move;
 }
 /* support: IE7 */
 *+html #helptoolbar {
	 display: inline;
 }

#helpbutton a:hover { 
	background: #06c; 
}
.ui-resizable-helper { border: 1px dotted gray; }
iframe {
border: 0px solid #ffffff;
}

#helpFrame {
   width: 99%; 
   height: 100%; 
   overflow: scroll;
   border:2px ridge gray !important;	
}
.ui-widget a:link {color: #000000; text-decoration: underline; !important }
.ui-widget a:active {color: #0000ff; text-decoration: underline; !important}
.ui-widget a:visited {color: #008000; text-decoration: underline; !important}
.ui-widget a:hover {color: #ff0000; text-decoration: none; !important}
