<plugin name='jummp-plugin-git' version='0.1' grailsVersion='1.3.6 &gt; *'>
  <author>Your name</author>
  <title>Plugin summary/headline</title>
  <description>\
Brief description of the plugin.
</description>
  <documentation>http://grails.org/plugin/jummp-plugin-git</documentation>
  <resources>
    <resource>BuildConfig</resource>
    <resource>Config</resource>
    <resource>DataSource</resource>
    <resource>JummpPluginConfig</resource>
    <resource>UrlMappings</resource>
    <resource>net.biomodels.jummp.plugins.git.GitService</resource>
  </resources>
  <dependencies />
  <behavior />
</plugin>